@use "../../styles/variables" as v;

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__leftWrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__pageLink {
    font-size: 20px;
    line-height: 24px;
    transition: color v.$transition-300;
    border-bottom: 1.5px solid transparent;

    &:hover {
      color: v.$color-lilac;
    }

    &--active {
      border-bottom: 1.5px solid v.$color-black;
    }
  }

  &__rightWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__iconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.accCard {
  display: flex;
  align-items: center;
  gap: 12px;

  &__avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__userName {
    font-size: 16px;
    line-height: 18px;
  }

  &__userRole {
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 32, 51, 0.6);
  }
}
